{% extends "base.html" %}
{% block content %}
{{ super() }}


<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="row">
    <div class="col">
        <!--{{ form.author.label(class='form-label') }}-->
        {{ form.author(class='form-control', placeholder='Författare') }}
        <div id="authorHelp" class="form-text">Efternamn, Förnamn</div>
    </div>
    <div class="col">
        <!--{{ form.title.label(class='form-label') }}-->
        {{ form.title(class='form-control', placeholder="Titel") }}
    </div>
    <div class="col">
        {{ form.series(class='form-control', placeholder="Serie") }}
    </div>
    <div class="col">
    <button type="submit" class="btn btn-light">Sök</button>
    </div>
    </div>
</form>

{% if books %}
<table class="table table-striped" id="data">
    <thead>
        <tr>
            <th>📷</th><th>Författare</th><th>Titel</th><th>Serie</th><th>Hylla</th>
        </tr>
    </thead>
    <tbody>
{% for book in books %}
        <tr>
            <td>
    {% if book.image %}
    <img src="data:image/jpeg;base64,{{ encode(book.image.thumbnail.read()).decode() }}">
    {% endif %}
            </td>
            <td> 
                {% for author in book.authors %}
                    {{ author.last }}, {{ author.first }}<br>
                {% endfor %}
            </td>
            <td>
                <i>{{ book.title.split(':')[0] }}</i><br>
                {% if ':' in book.title %}
                    <i><small>{{ book.title.split(':')[1] }}</small></i>
                {% endif %}
            </td>
            <td>
                {% if book.series %}
                {{ book.series.title }} {{ "%2d" % book.series.volume }}
                {% endif %}
            </td>
            <td>
                {% if book.hylla %}{{ book.hylla }}{% endif %}
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}

